html {
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  color: #ffffffde;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0f0f0f;
  overflow-x: hidden;
}

header {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  font-size: 2rem;
}

header h1 span {
  color: red;
}

.search-bar {
  background: transparent;
  border-radius: 15px;
  padding: 5px 12px;
  border: 1px solid #ffffffde;
  display: flex;
  align-items: center;
  width: 42vh;

}

.search-bar-input {
  background: transparent;
  width: 90%;
  border: none;
  font-size: 12px;
  padding: 4px 8px;
  
}



.search-bar-input:focus {
  outline: none;
}

.mainContent {
  width: 100vw;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.mainContent .hero-big-image {
  max-width: 100%;
  height: 420px;
  border-radius: 5px;
}

.mainContent .hero-info {
  width: 100%;
  padding: 10px;
}

.hero-info .hero-info-name {
  font-size: 2.5rem;
  color: #ff8302;
}

.nav {
  width: 100%;
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

nav {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;  
  flex-wrap: wrap;
}

.nav-border-bottom {
  margin-top: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.483);
  margin-bottom: 25px;
}

nav a {
  width: 24%;
  background: #1a1a1a;git
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  border-radius: 4px;
  transition: .5s;
  
}

nav a:hover {
  text-decoration: none;
  background: #c95858;
}

.hero-stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-stats-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0a0a0a;
  padding: 4px 10px;
  border-radius: 5px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.179);
  border-left: solid 1px rgba(255, 255, 255, 0.179);

}

#star {
  font-size: 1.5rem;
  color: gold;
}

.hero-stats-item-left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.hero-stats-item-left h3 {
  font-size: 1.5rem;
}

.hero-stats-item-amount {
  font-weight: bold;
  font-size: 1.5rem;
}

.hero-biography {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-biography-item {
  padding: 10px 14px;
  background: #0a0a0a;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-biography-item h3 {
  color: #323232;

  border-radius: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.182);
  border-right: 1px solid rgba(255, 255, 255, 0.182);

}

.hero-appearance {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-appearance-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background: #0a0a0a;
  border-radius: 5px; 
}

.more-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.more-info h3 {
  color: #2d2d2d;
  
}

.more-info-item {
  background: #0a0a0a;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.existing-content {
  width: 100%;
}

.hero-info-content {
  width: 100%;
}

.search-results {
  width: 42vh;
  height: 200px;
  overflow-y: scroll;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  position: absolute;
  top: 10vh;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  z-index: 1;
  padding: 2px; /* Add this to control the stacking order */
}

/* Styles for when search results are open */
.search-results.open {
  max-height: 300px; /* Adjust the max-height as needed */
  opacity: 1;
  z-index: 1000; /* Ensure search results appear above other content when open */
}

.search-results::-webkit-scrollbar {
  width: 1px;
  height: 8px;
  background-color: red;
  border-radius: 5px;
}

.search-results::-webkit-scrollbar-thumb {
background-color: red; /* Set the background color */
border-radius: 4px; /* Add border-radius for rounded corners */
/* Set the height of the scrollbar thumb */

}

.search-result img {
  width: 75px;
  border-radius: 5px;
  border: 2px solid red;
}

.search-result {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #141414ac;
  padding: 10px;
  transition: .3s;
  cursor: pointer;
}

.search-result:hover {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}


.search-result h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 801px) {

  nav a:hover {
    background: #c95858;
    color: #ffffffde;
    text-decoration: underline;
    cursor: pointer;
  }
}

@media(max-width: 952px) {
  html {
    font-size: 12px;
  }
}

@media(max-width: 800px) {

  .mainContent {
    flex-direction: column;
    gap: 20px;
  }


  nav a {
    width: 32%;
  }

  
  header {
    padding: 10px;
    gap: 15px;
    margin-bottom: 50px;
    flex-direction: column;
  }

  .search-results {
    top: 20vh;
    left: calc(50% - 42vh/2);


  }

}

@media(max-width: 600px) {

  header {
    margin-bottom: 10px;
  }

  header h1 {
    font-size: 2.5rem;
  }

  .search-bar {
    font-size: 0.8rem;
  }

  .search-results {
    top: 17%;
  }
}

@media (max-width: 500px) {
  header h1 {
    font-size: 2rem;
  }
}

@media(max-width: 420px) {
  nav a {
    width: 49%;
  }

}

@media(max-width: 370px) {
  .search-bar {
    width: 100%;
  }

  .search-results {
    width: 80vw;
    left: calc(50% - 40vw);
  }


}